body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

input {
    width: 60px;
    margin-right: 10px;
}

#buttonContainer button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 1em;
}