    body {
        font-family: Arial, sans-serif;
        font-size: 2em;
        background-color: #7c4949;
        margin: 0;
        padding: 0;
    }

    .highlight {
        color: red;
        font-weight: bold;
    }